# dependencies
/node_modules

# build outputs
/.output
/.vinxi
/dist
.solid
/.content-collections
/public/og

# local tooling caches
/.corepack
/.npm-cache
/.local-bin
/.pnpm-store

# logs & env
/*.log
.env
.env*.local

# IDEs
/.idea
/.vscode
.DS_Store
Thumbs.db

# misc
/.stfolder
/.direnv
/.devenv*
/result
/screenshot.png
